@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@tailwind utilities;

:root {
	--h1-font-size: 48px;
	--h1-mobile-font-size: 40px;

	--h2-font-size: 28px;
	--h2-mobile-font-size: 26px;

	--h3-font-size: 24px;
	--h3-mobile-font-size: 20px;

	--h4-font-size: 16px;
	--h4-mobile-font-size: 14px;

	--body-lg-font-size: 18px;
	--body-md-font-size: 16px;

	--body-mobile-lg-font-size: 16px;
	--body-mobile-md-font-size: 16px;
	--body-mobile-sm-font-size: 14px;

	--subheading-font-size: 28px;
	--subheading-mobile-font-size: 24px;

	--h1-line-height: 52px;
	--h1-mobile-line-height: 48px;

	--h2-line-height: 32px;
	--h2-mobile-line-height: 28px;

	--h3-line-height: 32px;
	--h3-mobile-line-height: 32px;

	--h4-line-height: 24px;
	--h4-mobile-line-height: 20px;

	--body-lg-line-height: 26px;
	--body-md-line-height: 24px;

	--body-mobile-lg-line-height: 24px;
	--body-mobile-md-line-height: 20px;
	--body-mobile-sm-line-height: 20px;

	--subheading-line-height: 36px;
	--subheading-mobile-line-height: 32px;

	--bg-neutral-hover: #dcdcdc;

	--bg-button-default-from: #191919;
	--bg-button-default-from-hover: #181818;
	--bg-button-default-to: #464646;
	--bg-button-default-to-hover: #181818;
	--bg-button-default-border-from: #898989;
	--bg-button-default-border-from-hover: #464646;
	--bg-button-default-border-to: #f0f0f0;
	--bg-button-default-border-to-hover: #ccc;
	--bg-button-default-shadow-soft: 0px 5px 9px -4px #00000033;

	--bg-card-contact-from: #191919;
	--bg-card-contact-from-hover: #181818;
	--bg-card-contact-to: #464646;
	--bg-card-contact-to-hover: #181818;
	--bg-card-contact-border-from: #898989;
	--bg-card-contact-border-from-hover: #464646;
	--bg-card-contact-border-to: #f0f0f0;
	--bg-card-contact-border-to-hover: #ccc;
	--bg-card-contact-shadow-soft: 0px 5px 9px -4px #00000033;

	--bg-card-phone-border-from: #a3e493;
	--bg-card-phone-border-from-hover: #76cf60;
	--bg-card-phone-border-to: #50b81f;
	--bg-card-phone-border-to-hover: #197309;
	--bg-card-phone-from: #dff9d9;
	--bg-card-phone-from-hover: #c8f2bf;
	--bg-card-phone-to: #effce9;
	--bg-card-phone-to-hover: #dff9d8;
	--bg-card-phone-shadow-soft: 0px 5px 9px -4px #25910033;

	--bg-card-mail-border-from: #aad1fb;
	--bg-card-mail-border-from-hover: #6db2fc;
	--bg-card-mail-border-to: #1563e4;
	--bg-card-mail-border-to-hover: #024bab;
	--bg-card-mail-from: #e5f0fc;
	--bg-card-mail-from-hover: #d2e5fc;
	--bg-card-mail-to: #f4f9ff;
	--bg-card-mail-to-hover: #e4f0fc;
	--bg-card-mail-shadow-soft: 0px 5px 9px -4px #1261e433;

	--bg-card-default-border-from: #cdcdcd;
	--bg-card-default-border-from-hover: #acacac;
	--bg-card-default-border-to: #636363;
	--bg-card-default-border-to-hover: #464646;
	--bg-card-default-from: #e5e5e5;
	--bg-card-default-from-hover: #e5e5e5;
	--bg-card-default-to: #f9f9f9;
	--bg-card-default-to-hover: #f2f2f2;
	--bg-card-default-shadow-soft: 0px 5px 9px -4px #63636326;

	--bg-calendar-current-day: #1261e4;
	--bg-calendar-occupied-event: #e5e5e5;
	--text-calendar-occupied-event: #464646;

	--radius-select-item: 4px;
	--radius-select: 8px;
	--drop-shadow-select: 0 4px 8px rgba(0, 0, 0, 0.3);
	--drop-shadow-toast: 0 4px 8px rgba(0, 0, 0, 0.2);

	--background: 0 0% 100%;
	--foreground: 224 71.4% 4.1%;
	--card: 0 0% 100%;
	--card-foreground: 224 71.4% 4.1%;
	--popover: 0 0% 100%;
	--popover-foreground: 224 71.4% 4.1%;
	--primary: 220.9 39.3% 11%;
	--primary-foreground: 210 20% 98%;
	--secondary: 220 14.3% 95.9%;
	--secondary-foreground: 220.9 39.3% 11%;
	--muted: 220 14.3% 95.9%;
	--muted-foreground: 220 8.9% 46.1%;
	--accent: 220 14.3% 95.9%;
	--accent-foreground: 220.9 39.3% 11%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 210 20% 98%;
	--border: 220 13% 91%;
	--input: 220 13% 91%;
	--ring: 224 71.4% 4.1%;
	--chart-1: 12 76% 61%;
	--chart-2: 173 58% 39%;
	--chart-3: 197 37% 24%;
	--chart-4: 43 74% 66%;
	--chart-5: 27 87% 67%;
	--radius: 0.5rem;

	::selection {
		background: #d3d3d3;
	}
}

.dark {
	--background: 224 71.4% 4.1%;
	--foreground: 210 20% 98%;
	--card: 224 71.4% 4.1%;
	--card-foreground: 210 20% 98%;
	--popover: 224 71.4% 4.1%;
	--popover-foreground: 210 20% 98%;
	--primary: 210 20% 98%;
	--primary-foreground: 220.9 39.3% 11%;
	--secondary: 215 27.9% 16.9%;
	--secondary-foreground: 210 20% 98%;
	--muted: 215 27.9% 16.9%;
	--muted-foreground: 217.9 10.6% 64.9%;
	--accent: 215 27.9% 16.9%;
	--accent-foreground: 210 20% 98%;
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 210 20% 98%;
	--border: 215 27.9% 16.9%;
	--input: 215 27.9% 16.9%;
	--ring: 216 12.2% 83.9%;
	--chart-1: 220 70% 50%;
	--chart-2: 160 60% 45%;
	--chart-3: 30 80% 55%;
	--chart-4: 280 65% 60%;
	--chart-5: 340 75% 55%;
}

@layer base {
	h1 {
		font-size: var(--h1-font-size);
		line-height: var(--h1-line-height);
	}

	h2 {
		font-size: var(--h2-font-size);
		line-height: var(--h2-line-height);
	}

	h3 {
		font-size: var(--h3-font-size);
		line-height: var(--h3-line-height);
	}

	h4 {
		font-size: var(--h4-font-size);
		line-height: var(--h4-line-height);
	}

	p {
		font-size: var(--body-md-font-size);
		line-height: var(--body-md-line-height);
	}

	p.sm {
		font-size: var(--body-mobile-sm-font-size);
		line-height: var(--body-mobile-sm-line-height);
	}

	p.lg {
		font-size: var(--body-lg-font-size);
		line-height: var(--body-lg-line-height);
	}

	p.subheading {
		font-size: var(--subheading-font-size);
		line-height: var(--subheading-line-height);
	}

	@media (max-width: 768px) {
		h1 {
			font-size: var(--h1-mobile-font-size);
			line-height: var(--h1-mobile-line-height);
		}

		h2 {
			font-size: var(--h2-mobile-font-size);
			line-height: var(--h2-mobile-line-height);
		}

		h3 {
			font-size: var(--h3-mobile-font-size);
			line-height: var(--h3-mobile-line-height);
		}

		h4 {
			font-size: var(--h4-mobile-font-size);
			line-height: var(--h4-mobile-line-height);
		}

		p {
			font-size: var(--body-mobile-md-font-size);
			line-height: var(--body-mobile-md-line-height);
		}

		p.lg {
			font-size: var(--body-mobile-lg-font-size);
			line-height: var(--body-mobile-lg-line-height);
		}

		.subheading {
			font-size: var(--subheading-mobile-font-size);
			line-height: var(--subheading-mobile-line-height);
		}
	}

	.sx-react-calendar-wrapper {
		width: 100%;
		height: 800px;
		max-height: 90vh;
	}
}

/*@layer base {*/
/*	* {*/
/*		@apply border;*/
/*	}*/
/*	body {*/
/*		@apply;*/
/*	}*/
/*}*/
